<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${sectionName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body  style="background: #efefaa">
<div  th:insert="~{navigation::navigation}"></div>
<div class="container-fluid"  style="margin:25px;background: white;margin-top: 15px">
    <div class="row" style="background: white" >
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12"  >
            <h2 ><span th:text="${sectionName}"></span></h2>
            <div class="container-fluid"  style="margin:25px;background: white">
                <div class="row" style="background: white" >
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12"  >
                        <h2 ><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>发现</h2>
                        <div class="media" th:each="question:${pages.questionDTOList}">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" th:src="${question.user.avatar_url}"   alt="avatar" style="width: 38px;height: 38px;border-radius: 5px">
                                </a>
                            </div>
                            <div class="media-body" >
                                <h4 class="media-heading" th:text="${question.title}">问题标题</h4>
                                <span th:text="${question.tag}"></span><br/>
                                <span style="color: #666;font-size: 11px"><span th:text="${question.comment_count}"></span>个回复•<span th:text="${question.review_count}"></span>次浏览•<span th:text="${#dates.format(question.gmt_create,'yyyy/MM/dd')}"></span></span>
                            </div>
                        </div>
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li  th:if="${pages.showFirst}">
                                    <a th:href="@{'/profile/'+${section}(page=1)}" aria-label="First" ><!--跳到第一页-->
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li  th:if="${pages.showPre}">
                                    <a th:href="@{'/profile/'+${section}(page=${pages.curPage}-1)}" aria-label="Previous" ><!--跳到上一页-->
                                        <span aria-hidden="true">&lsaquo;</span>
                                    </a>
                                </li>
                                <li  th:each="page:${pages.pages}" th:class="${pages.curPage==page}?'active':''">
                                    <a th:href="@{'/profile/'+${section}(page=${page})}" th:text="${page}" >
                                    </a>
                                </li>
                                <li th:if="${pages.showNext}"><!--跳到下一页-->
                                    <a  th:href="@{'/profile/'+${section}(page=${pages.curPage}+1)}" aria-label="Next">
                                        <span aria-hidden="true">&rsaquo;</span>
                                    </a>
                                </li>
                                <li th:if="${pages.showEnd}"><!--跳到最后一页-->
                                    <a th:href="@{'/profile/'+${section}(page=${pages.totalPage})}" aria-label="End">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>


        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" style="padding-right: 0px">
            <div class="list-group" style="margin-top: 15px">

                <a href="/profile/questions" class="list-group-item" th:classappend="${section=='questions'}?'active ':''"><span class="glyphicon glyphicon-send" aria-hidden="true"></span> 我的问题</a>
                <a href="/profile/replies"  class="list-group-item" th:classappend="${section=='replies'}?'active':''"><span class="glyphicon glyphicon-edit" aria-hidden="true" ></span> 最新回复<span class="badge">14</span></a>
                </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<script src="/js/bootstrap.js" type="application/javascript"></script>
</body>
</html>